@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student @ViewData["Student"]</p>

<address>
    <strong>
        More information: <a href="https://github.com/brunoeduf1"> github.com/brunoeduf1</a>
    </strong>
</address>
